body {
  background-color: #00D1B2;
}

.container {
  background-color: white;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.district-card {
  float: left;
  clear: none;
}

.district-card-description {
  width: 70%;
}

.district-card-image {
  width: 30%;
}

.district-card-image > img {
  max-width: 100%;
}
