body {
  background: repeating-linear-gradient(135deg, #F5F5F5, #F5F5F5 6px, #00D1B2 1px, #00D1B2 20px);
  font-family: 'Montserrat', sans-serif;
}

.container {
  background-color: white;
  max-width: 900px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.district-card {
  margin-bottom: 12px;
  margin-top: 12px;
}

.district-card:hover {
  background-color: #F5F5F5;
  text-decoration: none !important;
}

.district-card-description {
  margin-top: 5px;
}

.district-card-image > img {
  max-width: 100%;
}

.district-link {
  color: inherit;
}

figcaption {
  font-size: 95%;
  font-style: italic;
  text-align: center;
}

h3 {
  margin-bottom: 6px !important;
}

.subtitle {
  font-family: 'Montserrat Alternates', sans-serif !important;
}

.title {
  font-family: 'Montserrat Alternates', sans-serif !important;
}
