body {
  background-color: #00D1B2;
  font-family: 'Montserrat', sans-serif;
}

.container {
  background-color: white;
  max-width: 900px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.district-card:hover {
  background-color: #F5F5F5;
}

.district-card-image > img {
  max-width: 100%;
}

.district-link {
  color: inherit;
}

.subtitle {
  font-family: 'Montserrat Alternates', sans-serif !important;
}

.title {
  font-family: 'Montserrat Alternates', sans-serif !important;
}
